<a href="https://colab.research.google.com/github/LukaszMikol/pandas/blob/master/Pandas_wprowadzenie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'0.25.3'

# pd.Series

In [2]:
# index domyślnie jest przypisany do kżdego wiersza
pd.Series(data=[1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
import numpy as np
np.nan

nan

In [4]:
# nie wstawiaj 0 zamiast np.nan, ponieważ 0 zmienia znacznie wyniki np. przy liczeniu średniej
s = pd.Series(data=[1., np.nan, 3, 4], index=['a', 'b', 'c', 'd'], name="sample")
s

a    1.0
b    NaN
c    3.0
d    4.0
Name: sample, dtype: float64

In [5]:
s = pd.Series([True, False, True, False])
s

0     True
1    False
2     True
3    False
dtype: bool

In [6]:
# DATA
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200110', periods=10), name="data")
s

2020-01-10    10
2020-01-11    11
2020-01-12    12
2020-01-13    13
2020-01-14    14
2020-01-15    15
2020-01-16    16
2020-01-17    17
2020-01-18    18
2020-01-19    19
Freq: D, Name: data, dtype: int64

In [7]:
# Pobranie indeksów
s.index.tolist()

[Timestamp('2020-01-10 00:00:00', freq='D'),
 Timestamp('2020-01-11 00:00:00', freq='D'),
 Timestamp('2020-01-12 00:00:00', freq='D'),
 Timestamp('2020-01-13 00:00:00', freq='D'),
 Timestamp('2020-01-14 00:00:00', freq='D'),
 Timestamp('2020-01-15 00:00:00', freq='D'),
 Timestamp('2020-01-16 00:00:00', freq='D'),
 Timestamp('2020-01-17 00:00:00', freq='D'),
 Timestamp('2020-01-18 00:00:00', freq='D'),
 Timestamp('2020-01-19 00:00:00', freq='D')]

In [8]:
# typ danych
type(s.values)

numpy.ndarray

In [9]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [10]:
s.values.dtype

dtype('int64')

In [11]:
stock_exchange = pd.Series({'Apple': 200, 'CD Project': 60, 'Amazon': 1900}, name="stock exchange")
stock_exchange

Apple          200
CD Project      60
Amazon        1900
Name: stock exchange, dtype: int64

In [12]:
# pobieranie indexów
stock_exchange['CD Project']

60

In [13]:
# pobieranie wartości
stock_exchange[1]

60

In [14]:
# ile elementów jest w obiekcie. Funkcja count nie zlicza wartości not a number.
stock_exchange.count()

3

In [15]:
# liczy rozkład naszych danych. Nie bierze pod uwagę wartości not a number. 
stock_exchange.value_counts()

# jeżli chcesz, aby zliczało wartości nan, zamień dropna na False
stock_exchange.value_counts(dropna=False)

60      1
1900    1
200     1
Name: stock exchange, dtype: int64

In [16]:
# metody statystyczne pomijają dane, gdzie występują wartości nan

stock_exchange.sum()
stock_exchange.min()
stock_exchange.max()
stock_exchange.mean()
stock_exchange.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
Name: stock exchange, dtype: float64

In [17]:
# wyciągnięcie dwóch najbardziej wartościowych spółek
stock_exchange.nlargest(2)

Amazon    1900
Apple      200
Name: stock exchange, dtype: int64

In [18]:
# wyciągnięcie najmniej wartościowej spółki. Funkcji nan nie obejmuje
stock_exchange.nsmallest(1)

CD Project    60
Name: stock exchange, dtype: int64

In [19]:
# zwracanie rangi dla każdego elementu. Uporządkowuje obiekt series od najtańszej do najdroższej
stock_exchange.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
Name: stock exchange, dtype: float64

In [20]:
stock_exchange.sort_values(ascending=False)

Amazon        1900
Apple          200
CD Project      60
Name: stock exchange, dtype: int64

In [21]:
# zamiana z wartości w $ na zł. 
stock_exchange_pl = stock_exchange.apply(lambda x: x * 3.8)
stock_exchange_pl.sort_values(ascending=False)

Amazon        7220.0
Apple          760.0
CD Project     228.0
Name: stock exchange, dtype: float64

In [32]:
df = pd.DataFrame(data=[5, 6, 7, 8], index=['one', 'two', 'three', 'fourth'], columns=["ones"])
df['mama'] = [1, 3, 4, 5]
df

        ones  mama
one        5     1
two        6     3
three      7     4
fourth     8     5

In [34]:
df = pd.DataFrame(data={'WIG20': ['PKO ORLEN', 'PKO PB'], 'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKO ORLEN    Amica
1     PKO PB  Playway

In [41]:
# zagnieżdżone tworzenie
df = pd.DataFrame(data=[[10, 12, 13 ], [22, 10, 11]], index=['first', 'secend'], columns=['col1', 'col2', 'col3'])
df

        col1  col2  col3
first     10    12    13
secend    22    10    11

In [42]:
df.columns
df.index
df.values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to secend
Data columns (total 3 columns):
col1    2 non-null int64
col2    2 non-null int64
col3    2 non-null int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [43]:
df.describe()

            col1       col2       col3
count   2.000000   2.000000   2.000000
mean   16.000000  11.000000  12.000000
std     8.485281   1.414214   1.414214
min    10.000000  10.000000  11.000000
25%    13.000000  10.500000  11.500000
50%    16.000000  11.000000  12.000000
75%    19.000000  11.500000  12.500000
max    22.000000  12.000000  13.000000

In [44]:
df.describe().T

      count  mean       std   min   25%   50%   75%   max
col1    2.0  16.0  8.485281  10.0  13.0  16.0  19.0  22.0
col2    2.0  11.0  1.414214  10.0  10.5  11.0  11.5  12.0
col3    2.0  12.0  1.414214  11.0  11.5  12.0  12.5  13.0

In [47]:
df.T

      first  secend
col1     10      22
col2     12      10
col3     13      11

In [51]:
type(df['col1'])

pandas.core.series.Series

In [53]:
# jeżeli chcesz wyciąć obiekt jako DataFrame
type(df[['col1']])

pandas.core.frame.DataFrame

In [55]:
# zmiana nazw kolumn 
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
secend  22  10  11

In [58]:
df.loc['first']
df.loc['first', 'a']

10

In [60]:
df.iloc[0]
df.iloc[0, 0]

10